//Mobile Stytle
@media only screen and (max-width: 740px) {
  .mainRow {
    height: 100vh;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  }
  .mainColum {
    background: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
  }
  .antdFormItem {
    margin-bottom: 15px;
  }
}

// Tablet styles
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .mobileTitle {
    display: block !important;
  }

  .mainColum {
    background: white;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .mainRow {
    height: 100vh;
    background-image: url("https://www.teahub.io/photos/full/103-1033393_new-full-hd-wallpapers-1080p.jpg");
    background-size: cover;

    height: 100vh;
  }

  .leftContent {
    padding: 1px;
  }
  .rightContent {
    padding: 20px;
  }
}

// PC stytle
@media only screen and (min-width: 1024px) {
  .mobileTitle {
    display: none !important;
  }

  .mainColum {
    background: white;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .mainRow {
    background-image: url("https://www.teahub.io/photos/full/103-1033393_new-full-hd-wallpapers-1080p.jpg");
    background-size: cover;
    height: 100vh;
  }

  .leftContent {
    padding: 1px;
  }

  .leftImage {
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    min-height: 560px;
    line-height: 560px;

    h1 {
      color: #fff;
    }
  }
  .rightContent {
    padding: 20px;
  }
}
