//Mobile Stytle
@media only screen and (max-width: 900px) {
  .mainRow {
    height: 100vh;
  }
  .mainColum {
    background: "white";
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
  }
  .antdFormItem {
    margin-bottom: 15px;
  }
}

// PC stytle
@media only screen and (min-width: 740px) {
  .mainColum {
    background: "white";
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .mainRow {
    height: 900px;
  }
  .antdFormItem {
    margin-bottom: 20px;
  }
  .leftContent {
    padding: 1px;
  }
  .leftImage {
    padding: 30px;
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      color: #fff;
    }
  }
  .rightContent {
    padding: 20px;
  }
}
