.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
// For mobile
@media only screen and (max-width: 768px) {
  .logo {
    border: 1px black solid !important;
  }
  .dbContent {
    height: 687px;
    width: 100%;

    overflow: scroll;
    // overflow-x: hidden;

    padding: 3px;
  }
  .dbFooter {
    bottom: 0;
    width: 100%;
    position: fixed;

    text-align: center;
    background: linear-gradient(to bottom, #9d50bb, #6e48aa) !important;
  }
  .dbFooter::after {
    content: "ANTD ©2022";
  }
  .dbMenuItem {
    background-color: #fff !important;
    a {
      color: black !important;
    }
  }
  .dbMenu {
    background: #fff !important;
  }
  .dbSider {
    position: absolute !important;
    z-index: 1;
  }
  .heading {
    background-color: #fff !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    text-align: right;
    padding-right: 25px !important;
  }
}

// For Tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    border: 1px black solid !important;
  }
  .dbContent {
    overflow: scroll;

    overflow-x: hidden;

    padding: 15px;

    background-image: url("https://www.teahub.io/photos/full/103-1033393_new-full-hd-wallpapers-1080p.jpg") !important;

    background-position: 35%, 0 !important;

    min-height: 1000px;
  }
  .dbFooter {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background: linear-gradient(to bottom, #9d50bb, #6e48aa) !important;
  }
  .dbFooter::after {
    content: "Created by ANTD ©2022";
  }
  .dbMenuItem {
    background-color: #fff !important;
    a {
      color: black !important;
    }
  }
  .dbMenu {
    background: #fff !important;
  }
  .dbSider {
    position: absolute !important;
    z-index: 1;
  }
  .heading {
    background-color: #fff !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    text-align: right;
    padding-right: 25px !important;
  }
}

//For PC
@media only screen and (min-width: 1023px) {
  .logo {
    border: 1px black solid !important;
  }
  .dbContent {
    overflow: scroll;

    height: 860px;

    padding: 15px;

    background-image: url("https://www.teahub.io/photos/full/103-1033393_new-full-hd-wallpapers-1080p.jpg") !important;

    background-position: 50%, 0 !important;
  }

  .dbFooter {
    text-align: center;
    background: linear-gradient(to bottom, #9d50bb, #6e48aa) !important;
  }
  .dbFooter::after {
    content: "Ant Design ©2022 Created by Ant UED";
  }
  .dbMenuItem {
    background-color: #fff !important;
    a {
      color: black !important;
    }
  }
  .dbMenu {
    background: #fff !important;
  }
  .dbSider {
    position: relative;
  }
  .heading {
    background-color: #fff !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    text-align: right;
    padding-right: 160px !important;
  }
}

// For Tablet landscape

@media only screen and (min-height: 768px) and (max-height: 1023px) and (orientation: landscape) {
  .dbContent {
    height: 650px;
  }
}
